<div class="row productsContent">
  <div class="col-xs-12">
    <div class="page-header">
      <h4>関連商品</h4>
    </div>
  </div>
  <% related_products.each do | related_product | %>
    <div class="col-md-3 col-sm-6 col-xs-12">
      <%= link_to potepan_product_path(related_product.id) do %>
        <div class="productBox">
          <% if related_product.images.any? %>
            <div class="productImage clearfix">
              <%= image_tag(related_product.display_image.attachment(:small), alt: "#{related_product.name}-img") %>
            </div>
          <% end %>
          <div class="productCaption clearfix">
            <h5><%= related_product.name %></h5>
            <h3><%= related_product.display_price.to_s %></h3>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
