<!-- DARK SECTION -->
<section class="darkSection clearfix">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-6">
        <h3>おくだいらの生産地</h3>
        <h4>Our Store Locations</h4>
        <div class="thumbnail">
          <div class="caption">
            <h5>日本</h5>
            <address>
              〒396-0621 <br>
              長野県 伊那市 富県 5535 番地 <br>
              5535 Tomigata, Ina-city, Nagano-prefecture <br>
            </address>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-6">
        <h3>Google Map</h3>
        <div id='map'></div>

        <style>
        #map{
          height: 400px;
        }
        </style>

        <script>
        function initMap(){
          let
          map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: 35.820091, lng: 137.991004},
            zoom: 10
          });
          marker = new google.maps.Marker({
            position:  {lat: 35.820091, lng: 137.991004},
            map: map
          });
        }
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDzXxq5g3METjcRU51tlirs7q1bIwSk1xg&callback=initMap" async defer></script>
      </div>
    </div>
  </div>
</section>
