<!-- LIGHT SECTION -->
<section class="lightSection clearfix pageHeader">
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <div class="page-title">
          <h2>おくだいら とは</h2>
        </div>
      </div>
      <div class="col-xs-6">
        <ol class="breadcrumb pull-right">
          <li><%= link_to "Home", aguzon_path %></li>
          <li class="active">おくだいら とは</li>
        </ol>
      </div>
    </div>
  </div>
</section>
