<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix aboutUsInfo">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="page-header">
          <h3>長野の水と空気の直売所「おくだいら」</h3>
        </div>
      </div>
      <div class="col-sm-6 col-sm-push-6 col-xs-12">
        <%= image_tag("img/about-us/about_okudaira.jpg", :alt => "about-us-img") %>
      </div>
      <div class="col-sm-6 col-sm-pull-6 col-xs-12">
        <p class="lead">D2Cの時代。生産量は少ないけれど、長野県の澄んだ水と空気のもとで作られた美味しい
          野菜・果物を味わってもらいたい。
          <br>そして、心癒されるきれいな花を楽しんでもらいたい。
          <br>そんな思いで当立ち上げました。</p>
        <p>私の実家の屋号は「奥平（おくだいら）」。このサービスの名称はここからきています。
          <br>私の祖父母や親戚は農業をして生活しています。春から夏はトルコギキョウと言う花をメインに、秋から冬は葉物や大根など野菜を育てています。
          全国の方々ご存知かと思いますが、長野県の空気と水はとにかく美味しいです。
          したがいまして、そこで育った穀物・野菜・果物は本当に美味しく、花はとても鮮やかな色をつけます。
          これらの農作物は、ほとんどが直売所やスーパーで売られ、県外の方に味わってもらう機会がほとんどありません。
          そこで自信を持っておすすめできる農作物をインターネットの力を使って遠くの人に知ってもらい、
          長野県の空気と水と生活の魅力を広げていこうと、ECサイト「おくだいら」と立ち上げました。
          このサイトでは農作物の直売だけでなく、長野県の魅力も発信していきます。
          もし興味が湧いたら、いつでも長野県に遊びにきてくださいね！！
          美味しい空気と水と食べ物と、穏やかな人たちが待っています♪♪</p>
        <br>
        <p class="lead">「おくだいら」のサービス</p>
        <ul class="list-unstyled">
          <li>農作物の購入</li>
          <li>長野県の季節感あるタイムリーな情報発信</li>
        </ul>
      </div>
    </div>
  </div>
</section>
