<div id="new_products" class="row featuredProducts">
  <div class="col-xs-12">
    <div class="page-header">
      <h4>新着商品</h4>
    </div>
  </div>
  <div class="col-xs-12">
    <div class="owl-carousel featuredProductsSlider">
      <% new_products.each do |new_product| %>
        <%= link_to aguzon_product_path(new_product.id) do %>
          <div class="slide">
            <div class="productImage clearfix">
              <%= image_tag new_product.display_image.attachment(:small) %>
            </div>
            <div class="productCaption clearfix">
              <h5><%= new_product.name %></h5>
              <h3><%= new_product.display_price %></h3>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
