<div class="row featuredCollection">
  <div class="col-xs-12">
    <div class="page-header">
      <h4>分類から検索</h4>
    </div>
  </div>
  <div class="col-sm-6 col-xs-12">
    <div class="thumbnail">
      <div class="imageWrapper">
        <%= image_tag("home/featured-collection/hana.jpg", :alt => "feature-collection-image", :class => "feature-collection-image") %>
        <%= link_to aguzon_category_path(7) do %>
         <div class="masking"><span class="btn viewBtn">Flower</span></div>
        <% end %>
      </div>
      <div class="caption">
        <h4>花を探す</h4>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-xs-12">
    <div class="thumbnail">
      <div class="imageWrapper">
        <%= image_tag("home/featured-collection/yasai.jpg", :alt => "feature-collection-image", :class => "feature-collection-image") %>
        <%= link_to aguzon_category_path(8) do %>
         <div class="masking"><span class="btn viewBtn">Vegetables & Fruits</span></div>
        <% end %>
      </div>
      <div class="caption">
        <h4>野菜・果物を探す</h4>
      </div>
    </div>
  </div>
</div>
