<div class="row featuredCollection">
  <div class="col-xs-12">
    <div class="page-header">
      <h4>分類から検索</h4>
    </div>
  </div>
  <div class="col-sm-6 col-xs-12">
    <div class="thumbnail" onclick="location.href='single_product.html';">
      <div class="imageWrapper">
        <%= image_tag("home/featured-collection/yasaiitiba.jpg", :alt => "feature-collection-image") %>
        <div class="masking"><a href="product_grid_left_sidebar.html" class="btn viewBtn">View Products</a></div>
      </div>
      <div class="caption">
        <h4>商品から探す</h4>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-xs-12">
    <div class="thumbnail" onclick="location.href='single_product.html';">
      <div class="imageWrapper">
        <%= image_tag("home/featured-collection/noukanohuuhu.jpg", :alt => "feature-collection-image") %>
        <div class="masking"><a href="product_grid_left_sidebar.html" class="btn viewBtn">View Producer</a></div>
      </div>
      <div class="caption">
        <h4>生産者から探す</h4>
      </div>
    </div>
  </div>
</div>
