<!-- WHITE SECTION -->
<section class="whiteSection clearfix aboutPeople">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h3>生産者紹介</h3>
      </div>
      <div class="col-sm-3 col-xs-12">
        <div class="thumbnail">
          <%= image_tag("img/about-us/yasuto.png", :alt => "people-image") %>
          <div class="caption">
            <h5>小松 泰人</h5>
            <h5>Yasuto Komatsu</h5>
            <p>(CEO)</p>
          </div>
        </div>
      </div>
      <div class="col-sm-3 col-xs-12">
        <div class="thumbnail">
          <%= image_tag("img/about-us/mayumi.png", :alt => "people-image") %>
          <div class="caption">
            <h5>小松 真弓</h5>
            <h5>Mayumi Komatsu</h5>
            <p>(CTO)</p>
          </div>
        </div>
      </div>
      <div class="col-sm-3 col-xs-12">
        <div class="thumbnail">
          <%= image_tag("img/about-us/takaaki.png", :alt => "people-image") %>
          <div class="caption">
            <h5>小松 嵩明</h5>
            <h5>Takaaki Komatsu</h5>
            <p>(Marketing Director)</p>
          </div>
        </div>
      </div>
      <div class="col-sm-3 col-xs-12">
        <div class="thumbnail">
          <%= image_tag("img/about-us/misato.png", :alt => "people-image") %>
          <div class="caption">
            <h5>小松 美智</h5>
            <h5>Misato Komatsu</h5>
            <p>(Creative Director)</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
