<div class="main-wrapper">
  <!-- HEADER -->
  <div class="header clearfix">
  <%= render "light_section" %>
  <%= render "main_content_section" %>
  <%= render "dark_section" %>
  <%= render "white_section" %>
</div>
