<div id="footer" class="copyRight clearfix">
  <div class="container">
    <div class="row">
      <div class="col-sm-7 col-xs-12">
        <p>&copy; 2020-<%= Time.current.year %> Copyright Aguzon Store .</p>
      </div>
      <div class="col-sm-5 col-xs-12">
        <ul class="list-inline">
          <li><a href="#"><i class="fa fa-twitter" style="color: #1da1f2;"></i></a></li>
          <li><a href="#"><i class="fa fa-facebook-square" style="color: royalblue;"></i></a></li>
          <li><a href="#"><i class="fa fa-instagram" style="color: #e1306c;"></i></a></li>
          <li>
            <%= link_to admin_path do %>
              <i class="fa fa-circle-o "></i>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
